html, body {
    background-image: url("images/background.gif");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    height: 100%;
    overflow-y: auto;
}

.navbar {
    background-color: #b28090;
}

#about {
    color: white;
    text-shadow: 2px 2px 2px gray;
}

.about-content {
    text-shadow: 2px 2px 2px gray;
}

.about-subcontent {
    font-size: 18px;
}

#headshot {
    max-width: 300px;
    min-width: 300px;
}

.badge-icon {
    padding: 3px;
}